xft*resolution: 96
URxvt*foreground: White
URxvt*background: Black
URxvt*color0: #000000
URxvt*color1: #ad7fa8
URxvt*color2: #4e9a06
URxvt*color3: #ffd00a
URxvt*color4: #004f9e
URxvt*color5: #ec0048
URxvt*color6: #2aa7e7
URxvt*color7: #f2f2f2
URxvt*color8: #1d202f
URxvt*color9: #ff361e
URxvt*color10: #ffc005
URxvt*color11: #93ff00
URxvt*color12: #729fcf
URxvt*color13: #ef0051
URxvt*color14: #4bb8fd
URxvt*color15: #a020f0
URxvt*transparent: true
URxvt*shading: 20
URxvt*fading: 80
URxvt*font: xft:DejaVu Sans Mono:style=Book:pixelsize=12
URxvt*scrollBar: false
